project_id                             = "UPDATE_ME"
network_name                           = "demo-vpc"
description                            = "demo vpc network"
delete_default_internet_gateway_routes = true

subnets = [
  {
    subnet_name   = "subnet-01"
    subnet_ip     = "10.10.10.0/24"
    subnet_region = "us-west1"
  },
  {
    subnet_name           = "subnet-02"
    subnet_ip             = "10.10.20.0/24"
    subnet_region         = "us-west1"
    description           = "subnet-02 description"
    subnet_private_access = "true"
  },
  {
    subnet_name   = "subnet-03"
    subnet_ip     = "10.10.30.0/24"
    subnet_region = "us-west1"
  }
]

secondary_ranges = {
  subnet-01 = [
    {
      range_name    = "subnet-01-secondary-01"
      ip_cidr_range = "192.168.64.0/24"
    },
    {
      range_name    = "subnet-01-secondary-02"
      ip_cidr_range = "192.168.65.0/24"
    },
  ]

  subnet-02 = []
}

routes = [
  {
    name              = "egress-internet"
    description       = "route through IGW to access internet"
    destination_range = "0.0.0.0/0"
    tags              = "egress-inet"
    next_hop_internet = "true"
  },
  {
    name                   = "app-proxy"
    description            = "route through proxy to reach app"
    destination_range      = "10.50.10.0/24"
    tags                   = "app-proxy,web-proxy"
    next_hop_instance      = "app-proxy-instance"
    next_hop_instance_zone = "us-west1-a"
  },
]